@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-x: hidden;
  }
}

@layer utilities {
  .clip-path-polygon {
    clip-path: polygon(
      4% 17%,
      4% 3%,
      0 0,
      94% 0,
      100% 4%,
      100% 100%,
      96% 97%,
      74% 97%,
      70% 100%,
      5% 100%,
      0 96%,
      0 20%
    );
  }

  .star-wars-opening-crawl-effect {
    transform: perspective(350px) rotateX(35deg);
  }

  .animation-delay-39000 {
    animation-delay: 39s;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.transform-style {
  transform-style: preserve-3d;
}

.perspective {
  perspective: 1000px;
}
