@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&family=Poller+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow: hidden;
  }
}

@layer utilities {
  .clip-path-polygon {
    clip-path: polygon(
      4% 17%,
      4% 3%,
      0 0,
      94% 0,
      100% 4%,
      100% 100%,
      96% 97%,
      74% 97%,
      70% 100%,
      5% 100%,
      0 96%,
      0 20%
    );
  }

  .scroll-text-animation {
    animation: scroll 300s linear;
  }
  .perspective {
    perspective: 350px;
  }

  @keyframes scroll {
    0% {
      top: 36vh;
      transform: translateZ(0) rotateX(35deg);
    }
    100% {
      top: -7500px;
      transform: translateZ(-2500px) rotateX(36deg);
    }
  }
  .fade-text::before,
  .fade-text::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 1;
  }

  .fade-text::before {
    top: 0;
    height: 350px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  .fade-text::after {
    bottom: 0;
    height: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
}
