@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&family=Poller+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow: hidden;
  }
}

@layer utilities {
  .clip-path-polygon {
    clip-path: polygon(
      4% 17%,
      4% 3%,
      0 0,
      94% 0,
      100% 4%,
      100% 100%,
      96% 97%,
      74% 97%,
      70% 100%,
      5% 100%,
      0 96%,
      0 20%
    );
  }
}

.transform-style {
  transform-style: preserve-3d;
}

.perspective {
  perspective: 440px;
}
